html,body,article,section{
    height: 100%;
}

main{
    height: calc(50% - 50px);
}

.cs-logo{
    height: 50%;
    background-color: #563d7c;
    color: #fff;
    text-align: center;
    overflow: auto;
}

.cs-description{
    background-color: #fff;
    color:#563d7c;
    font-size: 1.6rem;
    overflow: auto;
}

.cs-logo-content{
    font-size: 3rem;
    position: relative;
    top: calc(50% - 4rem);
}

.cs-description-content{
    width:80%;
    margin-top: 2rem;
    text-align: right;
}

body>footer{
    height: 30px;
    text-align: center;
    color: #563d7c;
    font-weight: bold;
    line-height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a,a:hover{
    color:#fff ;
    font-size: 1.1rem;
}

nav{
    background-color: #563d7c;
}

